.resume {
  height: 100%;
}
.timeline {
  display: flex;
  width: 100%;
  padding: 20px;
  &__experience,
  &__education {
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_header {
      display: inline-block;
      color: var(--yellow-theme-sub-text-color);
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background-color: var(--yellow-theme-main-color);
        bottom: -1px;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
    &_verticalElement {
      padding: 0 0 30px 0;
      &:last-child {
        padding-bottom: 0;
      }
      .verticalElement_wrapper {
        display: flex;
        align-items: center;
        h3 {
          font-size: 16px;
        }
        &_subtitle {
          margin-left: 8px;
        }
        p {
          font-size: 18px;
        }
      }
      .vertical-timeline-element-content {
        box-shadow: none;
      }
      .vertical-timeline-element-content-arrow {
        display: none;
      }
      .vertical-timeline-element-date {
        opacity: 1;
        color: var(--yellow-theme-sub-text-color);
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
    &__experience,
    &__education {
			width: 100%;
			gap: 2rem;
    }
  }
}
