.contact{
	&__content{
		padding: 20px;
		&_header{
			color: var(--yellow-theme-sub-text-color);
			display: inline-block;
			font-size: 22px;
			font-weight: 600;
			line-height: 1em;
			letter-spacing: 0.5px;
			position: relative;
			text-transform: uppercase;
			padding: 5px 10px;
			border-bottom: 2px solid var(--yellow-theme-main-color);
		}
		&_header::before, 
		&_header::after{
			position: absolute;
			content: "";
			width: 2px;
			height: 5px;
			background-color: var(--yellow-theme-main-color);
			bottom: -1px;			
		}
		&_header::before{
			left: 0;
		}
		&_header::after{
			right: 0;
		}
		&_form{
			margin-top: 30px;
			&_wrapper{
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 40px;
				margin-bottom: 30px;
				div{
					position: relative;
					input, textarea{
						width: 100%;
						border: 2px solid var(--yellow-theme-main-color);
						padding: 16px 12px;
						transition: all 0.5s ease;
						position: relative;
						background-color: transparent;
						color: var(--yellow-theme-sub-text-color);
					}
					label{
						font-weight: 500;
						font-size: 16px;
						position: absolute;
						top: 7px;
						left: 12px;
						transition: all 0.2s ease;
						color: var(--yellow-theme-sub-text-color);
					}
					input:focus, textarea:focus{
						outline: none;
					}
					// .inputName:focus + .nameLabel,
					// .inputName:valid + .nameLabel,
					// .inputEmail:focus + .emailLabel,
					// .inputEmail:valid + .emailLabel,
					input:focus + label,
					input:valid + label,
					textarea:focus + label,
					textarea:valid + label
					{
						font-size: 18px;
						top: -25px;
						left: 0px;
					}
				}
			}
		}
		button{
			cursor: pointer;
			padding: 10px 70px;
			font-size: 2rem;
			background: transparent;
			color: var(--yellow-theme-main-color);
			border: 1.5px solid var(--yellow-theme-main-color);
			border-radius: 4px;
			font-weight: 600;
			&:hover{
				color: #000;
				background: var(--yellow-theme-main-color);
			}
		}
	}
}

@media (max-width: 768px){
	.contact__content_form{
		text-align: center;
		&_wrapper{
			grid-template-columns: repeat(1, 1fr);
			gap: 40px;
		}
	}
}