.skills{
	&__wrapper{
		display: flex;
		padding: 20px;
		gap: 20px;
		&_innerContent{
			flex: 1;
			display: flex;
			flex-direction: column;
			&_category{
				display: inline-block;
				color: var(--yellow-theme-main-color);
				font-size: 22px;
				font-weight: 700;
				line-height: 1rem;
				letter-spacing: 0.5px;
				position: relative;
				text-transform: uppercase;
				padding: 5px 10px;
				border-bottom: 2px solid var(--yellow-theme-main-color);
				&::before, &::after{
					content: '';
					position: absolute;
					width: 2px;
					height: 5px;
					background-color: var(--yellow-theme-main-color);
					bottom: -1px;
				}
				&::before{
					left: 0;
				}
				&::after{
					right: 0;
				}				
			}
			&_progress {
				width: 100%;
				.progressBar{
					padding: 50px 0px 0px 0px;
					p{
						font-size: 1.6rem;
						margin: 0 0 10px;
						font-weight: 500;
						text-transform: uppercase;
						color: var(--yellow-theme-sub-text-color);
					}
				}
			}
		}
	}
}

@media (max-width: 768px){
	.skills{
		&__wrapper{
			flex-direction: column;
		}
	}	
	.skills__wrapper_innerContent_category_progress{
		margin-bottom: 20px;
	}
}